<div class="container mt-4">
  <a name="" id="" class="btn btn-success mb-3" [routerLink]="['/appointments/add']" role="button">New Appoinment</a>
  <hr>
  <table class="table table-info">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col-3">Description</th>
        <th scope="col-2">Date</th>
        <th scope="col">Owner</th>

        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of allAppointments;let i=index">
        <td>{{i+1}}</td>
        <td>{{appointment?.name}}</td>
        <td>{{appointment?.description}}</td>
        <td>{{appointment?.date}}</td>
        <td>{{appointment?.owner}}</td>
        <td>
          <a type="button" class="btn btn-success" [routerLink]="['/appointment',appointment.id]">Edit</a>
        </td>
        <td>
          <a type="button" class="btn btn-danger" (click)="deleteAppointment(appointment)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
